include *.md
include *.py
include *.txt
include *.yaml
include *.yml
recursive-include step *.css
recursive-include step *.csv
recursive-include step *.json
recursive-include step *.html
recursive-include step *.ico
recursive-include step *.js
recursive-include step *.md
recursive-include step *.png
recursive-include step *.py
recursive-include step *.svg
recursive-include step *.txt
recursive-include step *.pot
recursive-include step *.po
recursive-include step *.mo
